<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meta Detail Info</title>
    <style>
        .btn {
            display: inline-block;
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin: 5px; /* 여백 추가 */
        }
        .btn-submit {
            background-color: #28a745; /* 제출 버튼 색상 */
        }
    </style>
</head>
<body>
    {% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message }}");
            console.log("{{ message }}")
        {% endfor %}
    </script>
    {% endif %}

    <h1>Meta Detail Info</h1>
    <form action="{% url 'preprocessing:meta_insert' %}" method="POST">
        {% csrf_token %}
        <table border="1">
            <tbody>
                <tr>
                    <th>Data Set</th>
                    <td><input type="text" name="data_set" /></td>
                </tr>
                <tr>
                    <th>Version</th>
                    <td><input type="text" name="version" /></td>
                </tr>
                <tr>
                    <th>Media URL</th>
                    <td><input type="text" name="media_url" /></td>
                </tr>
                <tr>
                    <th>ADO Result</th>
                    <td><input type="text" name="ado_result" /></td>
                </tr>
                <tr>
                    <th>Bit Depth</th>
                    <td><input type="number" name="bit_dep" /></td>
                </tr>
                <tr>
                    <th>Sample Rate</th>
                    <td><input type="number" name="sam_rte" /></td>
                </tr>
                <tr>
                    <th>Recording Start Time</th>
                    <td><input type="text" name="rec_strime" /></td>
                </tr>
                <tr>
                    <th>TDMS Flag</th>
                    <td><input type="text" name="tdms_flag" /></td>
                </tr>
                <tr>
                    <th>File Path</th>
                    <td><input type="text" name="file_path" /></td>
                </tr>
                <tr>
                    <th>DAQ Sample Rate</th>
                    <td><input type="number" name="daq_sam_rte" /></td>
                </tr>
                <tr>
                    <th>X Pixel</th>
                    <td><input type="number" name="x_pixel" /></td>
                </tr>
                <tr>
                    <th>Y Pixel</th>
                    <td><input type="number" name="y_pixel" /></td>
                </tr>
                <tr>
                    <th>IP Camera X Slope</th>
                    <td><input type="number" name="ip_cam_x_slop" /></td>
                </tr>
                <tr>
                    <th>IP Camera Y Slope</th>
                    <td><input type="number" name="ip_cam_y_slop" /></td>
                </tr>
                <tr>
                    <th>Beam Width</th>
                    <td><input type="number" name="beam_wid" /></td>
                </tr>
                <tr>
                    <th>Beam Height</th>
                    <td><input type="number" name="beam_hei" /></td>
                </tr>
                <tr>
                    <th>LP Data</th>
                    <td><input type="text" name="lp_data" /></td>
                </tr>
                <tr>
                    <th>LP Data Index</th>
                    <td><input type="number" name="lp_data_idx" /></td>
                </tr>
                <tr>
                    <th>LP Data Length</th>
                    <td><input type="number" name="lp_data_len" /></td>
                </tr>
                <tr>
                    <th>LP Data File Path</th>
                    <td><input type="text" name="lp_data_file_path" /></td>
                </tr>
                <tr>
                    <th>Image Data</th>
                    <td><input type="text" name="img_data" /></td>
                </tr>
                <tr>
                    <th>Image Index</th>
                    <td><input type="number" name="img_idx" /></td>
                </tr>
                <tr>
                    <th>Image File Path</th>
                    <td><input type="text" name="img_file_path" /></td>
                </tr>
                <tr>
                    <th>Beam Power</th>
                    <td><input type="text" name="beam_pwr" /></td>
                </tr>
                <tr>
                    <th>Beam Power Index</th>
                    <td><input type="number" name="beam_pwr_idx" /></td>
                </tr>
                <tr>
                    <th>Beam Power Path</th>
                    <td><input type="text" name="beam_pwr_path" /></td>
                </tr>
                <tr>
                    <th>Image Video Path</th>
                    <td><input type="text" name="img_video_path" /></td>
                </tr>
                <tr>
                    <th>Beam Video Path</th>
                    <td><input type="text" name="beam_video_path" /></td>
                </tr>
                <tr>
                    <th>Video Path</th>
                    <td><input type="text" name="video_path" /></td>
                </tr>
                <tr>
                    <th>Registered User</th>
                    <td><input type="text" name="reg_user" /></td>
                </tr>
            </tbody>
        </table>
        <br>
        <a href="{% url 'preprocessing:meta_list' %}" class="btn">메타데이터 리스트</a>
        <a href="{% url 'preprocessing:meta_intro' %}" class="btn">메타데이터 인트로</a>
        <button type="submit" class="btn btn-submit">제출</button>
    </form>
</body>
</html>
