<header class="page-header">
    <h2>소리데이터 기반 AI 솔루션</h2>
    <button type="button" class="site-button">
        user site <i class="glyphicon glyphicon-menu-right" style="font-size: 14px;"></i>
    </button>

    <div class="right-wrapper pull-right">
        <span class="user">한국과학기술정보원구원</span><span class="user">님</span> <a href="#none"><span class="logout">로그아웃</span></a>
    </div>

    <div class="navi-category">
        
        <div style="display: flex;">
          <ul class="step-menu">
            <li role="button" class="complete">수집</li>
            <li role="button" class="current">전처리</li>
            <li role="button">평가셋 설정</li>
            <li role="button">평가 목록</li>
          </ul>
        </div>
    </div>
</header>